@import "./normalize.css";

:root {
    --color-text: #666;
    --color-high-text: #42bBaa;
    --color-tint:#42b983;
    --color-background:#FFFFFF;
    --font-size:14px;
    --line-height:1.5;
}

*,
*::before,*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    user-select:none; /*禁止用户选择中文件或图片*/;
    background: var(--color-background);
    color:var(--color-text);
    width:100vw;
}

a {
    color:var(--color-text);
    text-decoration: none;
}

.left {
    float:left;
}

.right {
    float:right;
}

img {
    max-width: 100% !important;
    height: auto !important;
}